@import "styles/utils";

.card {
  text-align: center;
  max-width: 327px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
  border-radius: 15px;
  padding: 34px 24px 37px;

  @include media(">desktop") {
    max-width: 412px;
    padding: 45px 40px 45px 32px;
  }

  .icon {
    margin-bottom: 24px;

    @include media(">desktop") {
      margin-bottom: 32px;
    }
  }

  .ratingText {
    font-size: 14px;
    line-height: 22px;
    color: #FC7614;
    background: #262E38;
    border-radius: 22.5px;
    padding: 5px 12px;
    margin-bottom: 24px;

    @include media(">desktop") {
      font-size: 15px;
      line-height: 24px;
      padding: 4px 20px;
      margin-bottom: 32px;
    }
  }

  .title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 10px;

    @include media(">desktop") {
      font-size: 28px;
      line-height: 35px;
      margin-bottom: 7px;
    }
  }

  .description {
    font-size: 14px;
    line-height: 22px;
    color: #969FAD;

    @include media(">desktop") {
      font-size: 15px;
      line-height: 24px;
    }
  }
}
